body{
	/*margin: 0;
	padding: 0;
	#dbc29e
	#19261e
	*/
	
	
}
.parallax{
	
	background-image: url(oriento-bAzDhilQFsA-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	font-size: 40px;
	color: white;
	text-align: center;
	padding-top: 240px;
	background-attachment: fixed;
}

.Shizun{
	height: 250px;
	font-size: 40px;
	text-align: center;
	padding-top: 100px;
	color: #f0d5af;
	background-color: #19261e;
}
.shidi{
	background-image: url(henry-co-3JFVNo4ukKQ-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
}